* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #020616;
    color: white;
    font-family: monospace;
    margin-left: 50px;
    margin-top: 50px;
}

a {
    text-decoration: none;
}

.nama {
    color: rgb(151, 57, 218);
}

nav {
    border-width: 3rem;
    background-color: transparent;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(151, 57, 218);
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem ;
    a {
        transition: .3s;
        color: aliceblue;
    }
    a:hover {
        color: #d400ff;
    }

    li {
        background-color: aliceblue;
    }

    img {
        width: 50px;

    }

    .tengah {
        display: flex;
        gap: 1.8rem;
        align-items: center;
        font-size: 1.1rem;
    
    }
}




.hero .profile {
    border-radius: 20px;
    width: 11rem;
    height: 11rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(151, 57, 218);
    margin-top: 5rem;
    margin-left: 3rem;
}


.hero h1 {
    text-align: left;
    font-size: 3.5rem;
    margin-top: 4rem;
}

.hero h2 {
    font-size: 2rem;
}

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}


.pembungkus-skills {
    height: auto;
    width: auto;
    display: flex;
    align-self: flex-start;
}


.img-skil {
    padding: 0.4rem 1rem;
    border: 1px solid rgba(151, 57, 218, 1);
    border-radius: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;


}

.right {
    padding-right: 1rem;
    
    h2 {
        margin: 1rem 0;
    }
}

.project-container {
    display: grid;
    gap: 0.8rem;
    grid-template-columns: repeat(3, 1fr);


    .card {
        border-radius: 10px;
        padding: 0.6rem;
        border: 1px solid #4c005b;
        width: 100%;
        display: grid;
        gap: .5rem;
    }

    .card .box {
        width: 100%;
        aspect-ratio: 3/2;
        object-fit: cover;
    }

    .tech {
        gap: 0.4rem;
        display: flex;

        div {
            padding: 0.5rem .7rem;
            border-radius: 20px;
            border: none;
            display: flex;


        }

        .html {
            background-color: rgba(178, 118, 40, 0.291);
            color: rgb(178, 118, 40);

        }

        .css {
            background-color: rgba(65, 187, 248, 0.259);
            color: rgb(61, 175, 232);

        }

        .js {
            background-color: rgba(182, 185, 23, 0.295);
            color: rgb(242, 255, 2);

        }

    }
}